html, body{
  height: 100%;
}

* {
  box-sizing: border-box;
  font-family: arial;
}

/* .container-top{
  position: fixed;
} */

/* style the header */
.headerTop{
  background-color: #04AA6D;
  text-align: center;
  color: #fff;
  padding: 10px;
}

.headerTop h2{
  margin: 15px 0;
}

/* style the nav menu */
ul.nav{
  display: flex;
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #f1f1f1;
  justify-content: space-around;
}

/* li.menu{
  float:right;
} */

li.menu a{
  display: block;
  color: #020202;
  font-family: arial;
  font-size: 16px;
  text-align: center;
  text-decoration: none;
  padding: 15px 20px;
}

li.menu a:hover:not(.active){
  background-color: #555;
}

/* Remove margins and padding from the list */
ul.listContent {
  margin: 0;
  padding: 0;
}

/* Style the list items */
ul.listContent li {
  position: relative;
  /* list-style-type: none; */
  background: #eee;
  transition: 0.2s;
  /* list-style: none; */
  font-size: 18px;
  padding: 12px 8px 12px 40px;
  user-select: none;
  cursor: pointer;
  position: relative;
}

ul.listContent li::before {
  /* content: ""; */
  position: absolute;
  height: auto;
  width: auto;
  /* border-radius: 50%; */
  background-position: center;
  background-size: cover;  
}

/* Darker background-color on hover */
ul.listContent li:hover {
  background: #c8c8c8;
}

/* Mark checked on list */
ul.listContent li.checked{
  background: #a19898;
  color: #fff;
}

/* style mark check */
ul.listContent li.checked::before{
  position: absolute;
  border-style: solid;
  border-color: #fff;
  border-width: 0 2px 8px 0;
  content: '';
  top: 10px;
  left: 16px;
  transform: rotate(45deg);
  height: 15px;
  width: 6px;
}


/* Style the boxInput */
.boxInput {
  background-color: #04AA6D;
  padding: 20px 30px;
  color: white;
  text-align: center;
}

/* Clear floats after the boxInput */
.boxInput:after {
  content: "";
  display: table;
  clear: both;
}

/* Style the input */
.InputList {
  margin: 0;
  border: none;
  border-radius: 0;
  width: 75%;
  padding: 15px;
  float: left;
  font-size: 16px;
}

/* Style the "Add" button */
.addBtn {
  border: 0;
  padding: 15px;
  width: 25%;
  background: #d9d9d9;
  color: #555;
  float: left;
  text-align: center;
  font-size: 16px;
  cursor: pointer;
  border-radius: 0px;
}

.addBtn:hover {
  background-color: #bbb;
}

/* style the footer */
.footer{
  display: block;
  color: #ffffff;
  border: 0;
  background: #04AA6D;
  padding: 0;
  margin-top: 20px;
  position: fixed;
  width: 100%;
  bottom: 0;
  text-align: center;
}